# Python bytecode และ cache
__pycache__/
*.py[cod]

# Virtual environment
.venv/

# ไฟล์ล็อกของ pip (ถ้ามี)
pip-log.txt
pip-delete-this-directory.txt

# ไฟล์ Environment variables
.env

# ไฟล์ log ต่าง ๆ
*.log

# ไฟล์ระบบ IDE/editor (ถ้ามี)
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# ไฟล์ทดสอบและ build (ถ้ามี)
build/
dist/
*.egg-info/
.eggs/

# ไฟล์อื่น ๆ ที่ไม่ต้องการเก็บใน git
*.DS_Store
.venv/bin/absolufy-imports
config.json
